<div class="row clearfix" style="margin-top: -15px;">
    <div class="col-md-12 column">

        <div ng-switch="askedQuestions.length > 0">
            <div ng-switch-when="true">

                <ul class="list-group" style="margin-top: 15px;margin-bottom: 0;">
                    <li ng-repeat="askedQuestion in askedQuestions"
                        class="list-group-item text-left"
                        style="padding-left: 10px;padding-right: 10px;">

                        <div class="row clearfix">

                            <div class="col-md-12" style="margin-bottom: 15px;">
                                <div>
                                    {{ askedQuestion.text }}
                                </div>
                            </div>
                            <div class="col-md-12">

                                <div class="pull-right">

                                    <div class="btn btn-primary"
                                         tooltip="Відповісти на запитання"
                                         ng-click="sendAnswer(askedQuestion)"
                                         ng-if="!askedQuestion.answerData">
                                        <i class="fa fa-comment" style="margin-left: -1px;margin-right: -1px;"></i>
                                    </div>

                                    <div class="btn btn-primary"
                                         tooltip="Подивитися свою відповідь"
                                         ng-click="showListenerAnswer(askedQuestion.answerData)"
                                         ng-if="askedQuestion.answerData">
                                        <i class="fa fa-eye" style="margin-left: -1px;margin-right: -1px;"></i>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </li>
                </ul>

            </div>
            <div ng-switch-when="false">
                <div class="text-center col-md-12" style="margin-top: 15px;">
                    Немає запитань
                </div>
            </div>
        </div>
    </div>
</div>