<div class="row clearfix">
    <div class="col-md-12 col-xs-12 column">

        <form ng-submit="sendMessage()">

            <div class="input-group">

                <div class="form-group-sm" ng-class="{ 'has-feedback' : !!message.text }">

                    <label class="control-label" ng-show="false"></label>

                    <input type="text" class="form-control" id="main-input"
                           placeholder="Введіть текст"
                           autofocus autocomplete="off" ng-model="message.text"
                           style="border-bottom-left-radius: 3px;border-top-left-radius: 3px;">

                        <span class="form-control-feedback" style="top: 0"
                              ng-show="!!message.text">
                            <i class="fa fa-times" style="cursor: pointer"
                               tooltip="Очистити"
                               ng-click="message.text = ''"></i>
                        </span>
                </div>

                 <span class="input-group-btn">

                     <span class="btn btn-success"
                           ng-click="sendMessage()">
                         <i class="fa fa-plus"></i>
                     </span>

                 </span>

            </div>

        </form>

        <div ng-switch="activityCollection.length > 0" style="margin-top: 15px;">
            <div ng-switch-when="true">

                <ul class="list-group" style="margin: 0;">
                    <li ng-repeat="activityItem in activityCollection" class="list-group-item text-left">

                        <span>
                            <b>{{ activityItem.timestamp | formatDate : 'ISO_TIME' }}</b>
                        </span>

                        <br>

                        <span>
                            {{ activityItem.title }}
                        </span>

                    </li>
                </ul>

            </div>
            <div ng-switch-when="false">
                Немає активності
            </div>
        </div>

    </div>
</div>