<div>
    <div class="modal-header">
        <span class="close" ng-click="ok()">×</span>
        <h4 style="margin-bottom: 0;margin-top: 0;">
            <i class="fa fa-info"></i>
            &nbsp;
            Інформація
        </h4>
    </div>

    <div class="modal-body">

        <div class="text-center" style="margin-bottom: -10px;">
            <div class="row clearfix" style="background-color: #fff">
                <p> <b>{{ productName }}</b>
                <p> Версія: {{ productVersion }}
                <p> Автор: LLC IKROK
                <p> Сайт: <a href="http://www.ikrok.net" target="_blank">www.ikrok.net</a>
            </div>
        </div>

    </div>

    <div class="modal-footer ng-scope" style="margin-top: 0">
        <span class="btn btn-success" ng-click="ok()">
            <i class="fa fa-check"></i>
            &nbsp;
            Ок
        </span>
    </div>
</div>