<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script type="text/javascript" src="/public/libs/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/public/app/authorizeStatus.js"></script>
<script type="text/javascript">

    (function () {

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)");
            var results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var mainWindow = window.opener;
        if (mainWindow) {

            var account = {
                profile: {
                    id: getParameterByName('profileId'),
                    name: getParameterByName('name'),
                    email: getParameterByName('email')
                },
                provider: getParameterByName('provider')
            };

            var authorizeStatus = new AuthorizeStatus(AuthorizeStatus.AUTHORIZE_RESOLVED, account);
            mainWindow.postMessage(authorizeStatus, window.location['origin']);
        }
    })();

</script>
</body>
</html>