<div class="row clearfix" style="margin-top: 15px">

    <div class="col-sm-8 col-sm-offset-2 column">

        <div generic-header="user">
        </div>

        <section class="panel tasks-widget" style="padding: 15px">

            <div class="panel-body" style="padding: 0;">

                <div ng-switch="activeLectures.length > 0">
                    <div ng-switch-when="true">

                        <ul class="list-group"
                            style="margin-bottom: 0">
                            <li ng-repeat="activeLecture in activeLectures" class="list-group-item clearfix"
                                ng-class="{ 'disabled' : activeLecture.status == 'suspended' }">

                                <div class="row clearfix">
                                    <div class="col-md-12">
                                        <div>
                                            Тема: <br/> "<b>{{ activeLecture.name }}</b>"<br/>Автор <br/> <b>{{
                                            activeLecture.lecturer['name'] }}</b>
                                        </div>
                                    </div>

                                    <div class="col-md-12 column">
                                        <div style="margin-right: -5px">

                                            <div class="pull-left" style="padding-right: 6px;padding-top: 4px;"
                                                 ng-click="showPresentListeners(activeLecture)">
                                                <i class="fa fa-users" style="cursor: pointer"
                                                   tooltip="Присутні слухачі"></i>&nbsp;<b>{{
                                                activeLecture.listeners['length'] }}</b>
                                            </div>

                                            <div class="pull-left" style="padding-right: 3px;padding-top: 4px;">
                                                <i class="fa fa-clock-o"
                                                   tooltip="Продовження леції"></i>&nbsp; <b>{{ activeLecture.duration |
                                                formatTime }}</b>
                                            </div>

                                            <a class="btn btn-success btn-xs pull-right"
                                               ng-href="/#/listeners/{{ user.id }}/activeLectures/{{ activeLecture.id }}">
                                                <i class="fa fa-sign-in"></i>&nbsp;Приєднатися
                                            </a>

                                        </div>
                                    </div>

                                </div>

                            </li>
                        </ul>


                    </div>

                    <div ng-switch-when="false">

                        <div class="text-center">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    Немає активних лекції
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section>

    </div>

</div>