<div>

    <div class="modal-header">
        <span class="close" ng-click="close()">×</span>
        <h4 style="margin-bottom: 0;margin-top: 0;">
            <i class="fa fa-bullhorn"></i>
            &nbsp;
            Дайте відповідь на запитання
        </h4>
    </div>

    <div class="modal-body">

        <label>
            Запитання:
        </label>

        <div>
            {{ question.text }}
        </div>

        <br>

        <label>
            Ваша відповідь:
        </label>

        <div ng-switch="question.type">
            <div ng-switch-when="single-choice"
                 editable-single-choice-answer-form="question.data" options="options">
            </div>
            <div ng-switch-when="multi-choice"
                 editable-multi-choice-answer-form="question.data" options="options">
            </div>
            <div ng-switch-when="default"
                 editable-default-answer-form="question.data" options="options">
            </div>
            <div ng-switch-when="range"
                 editable-range-answer-form="question.data" options="options">
            </div>
        </div>

    </div>
    <div class="modal-footer ng-scope" style="margin-top: 0">
        <span class="btn btn-warning" ng-click="close()"
              ng-if="autoCloseTimer">
            Закрити ({{(autoCloseTimer.autoCloseTimeout - autoCloseTimer.count) | formatSeconds }})
        </span>
        <span class="btn btn-warning" ng-click="close()"
              ng-if="!autoCloseTimer">
            Закрити
        </span>
        <span class="btn btn-primary" ng-click="sendAnswer()"
              ng-disabled="!options.isAnswerChosen">
            Відповісти
        </span>
    </div>
</div>