<div class="panel col-sm-6 col-sm-offset-3" style="margin-top: 15px;">

    <h1>
        <span class="fa fa-sign-in">
        </span>
        Увійти
    </h1>

    <div ng-show="errorMessage != null">
        <alert type="danger" close="errorMessage = null" class="text-center">
            <span class="pull-left">
                <i class="fa fa-exclamation-triangle" style="font-size: 1.5em;"></i>
            </span>
            {{ errorMessage }}
        </alert>
    </div>

    <form ng-submit="login()" autocomplete="off">

        <div class="form-group">
            <label>
                Електронна адреса
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isEmailValid() }">
                <div class="input-group-addon">
                    <span class="fa fa-at"></span>
                </div>
                <input class="form-control" type="text" ng-model="email"
                       placeholder="Введіть електронну адресу" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label>
                Пароль
            </label>

            <div class="input-group" ng-class="{ 'has-error' : !isPasswordValid() }">
                <div class="input-group-addon">
                    <i class="fa fa-key"></i>
                </div>
                <input class="form-control" type="password" ng-model="password"
                       placeholder="Введіть пароль" autocomplete="off">
            </div>
        </div>

        <span ng-click="signIn()" class="btn btn-warning"
              ng-disabled="!(isEmailValid() && isPasswordValid())">
            Увійти
        </span>

    </form>

    <hr style="margin-top: 10px;margin-bottom: 10px;">

    <div class="row clearfix">

        <div class="col-md-4 col-sm-12" style="/*padding-right: 7.5px;">
            <div class="btn btn-primary col-md-12 col-sm-12" style="width: 100%;margin-bottom: 10px;"
                 ng-click="externalSignIn('facebook')">
                <span class="fa fa-facebook"></span>
                &nbsp;
                Facebook
            </div>
            <br>
        </div>

        <div class="col-md-4 col-sm-12" style="/*padding-right: 7.5px;padding-left: 7.5px;">
            <div class="btn btn-info col-md-12 col-sm-12" style="width: 100%;margin-bottom: 10px;"
                 ng-click="externalSignIn('twitter')">
                <span class="fa fa-twitter"></span>
                &nbsp;
                Twitter
            </div>

        </div>

        <div class="col-md-4 col-sm-12" style="/*padding-left: 7.5px;">
            <div class="btn btn-danger col-md-12 col-sm-12" style="width: 100%;margin-bottom: 10px;"
                 ng-click="externalSignIn('google')">
                <span class="fa fa-google-plus"></span>
                &nbsp;
                Google+
            </div>
            <br>
        </div>
    </div>

    <hr style="margin-top: 0;margin-bottom: 10px;">

    <p>
        Треба акуант? <a href="#/sign-up">Реєстрація</a>
    </p>

    <p>
        Або перейти <a href="#/">додому</a>
    </p>

</div>