<div>
    <div class="modal-header">
        <span class="close" ng-click="cancel()">×</span>
        <h4 style="margin-bottom: 0;margin-top: 0;">
            <i class="fa fa-pencil"></i>
            &nbsp;
            Редагувати лекцію
        </h4>
    </div>

    <div class="modal-body">

        <div class="row clearfix">
            <div class="form-group col-md-12 column">
                <label>
                    Назва лекції
                </label>
                <div>
                    <input maxlength="50" class="form-control" type="text"
                           ng-model="model.name">
                </div>
            </div>
            <div class="form-group col-md-12 column" style="margin-bottom: 15">
                <label>
                    Опис лекції
                </label>
                <div>
                    <textarea rows="3" noresize class="form-control" required style="resize: none"
                              ng-model="model.description">
                    </textarea>
                </div>
            </div>
            <div class="form-group col-md-12 column" style="margin-bottom: 0">
                <label>
                    Додаткові посилання
                </label>
                <div>
                    <textarea rows="3" noresize class="form-control" required style="resize: none"
                              ng-model="model.additionalLinks">
                    </textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer ng-scope" style="margin-top: 0">
        <span class="btn btn-warning btn-sm" ng-click="cancel()">
            <i class="fa fa-reply"></i>
            &nbsp;
            Назад
        </span>
        <span class="btn btn-primary btn-sm" ng-click="send()">
            <i class="fa fa-save"></i>
            &nbsp;
            Зберегти
        </span>
    </div>
</div>