body {
    color: #797979;
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    /*min-width: 800px;*/
}

.bold-fond {
    font-weight: bold;
}

.survey-form div[chart] {
    /*height: 200px;*/
}

@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

svg {
    height: auto;
    width: auto;
}

.nav-tabs > li {
    font-size: 20px;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin-bottom: 20px;
    background: #fff;
}

.main-div {
    padding-bottom: 45px;
}

footer {
    z-index: 1000;
    border-top: #DDDDDD 1px solid;
    background: #fff;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
}

footer .container {
    margin-top: 7px;
}

footer .a {
    cursor: pointer;
}

.tab_content {
    margin-top: 35px;
}

.nav-tabs {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.ae-toolbars > * {
    z-index: 2000;
}
.alloyeditor-container {
    border: 1px solid #e5e5e4;
    border-radius: 4px;
    padding: 0;
    min-height: 68px;
    color: #555;
}
.alloyeditor-container > * {
    overflow: auto;
    width: 100%;
    padding: 6px 12px;
    max-height: 68px;
}
.alloyeditor-container > *:focus {
    outline: 0;
}
ul[rn-carousel] > li {
    border: 0;
}
.rn-carousel-controls .rn-carousel-control {
    top: 50%;
    margin-top: -21px;
    font-size: 30px;
    width: 25px;
    color: #CCDAE5;
    text-align: left;
}
.rn-carousel-controls .rn-carousel-control.rn-carousel-control-next {
    text-align: right;
}
@media screen and (min-width: 768px) {
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}