<footer class="clearfix">

    <div class="container text-center">
        <span>
            <i class="fa fa-info"
               style="cursor: pointer">
            </i>
            <a href="" ng-click="openInfoDialog()">
                Інформація
            </a>
        </span>
        &nbsp;
        <span>
            <i class="fa fa-comment-o"
               style="cursor: pointer;">
            </i>
            <a href="" ng-click="openFeedbackDialog()">
                Залишити відгук
            </a>
        </span>

        <br>

        <label>© 2015 LLC IKROK.</label>
    </div>
</footer>