<div>

    <div class="modal-header">
        <span class="close" ng-click="cancel()">×</span>
        <h4 style="margin-bottom: 0;margin-top: 0;">
            <i class="fa fa-pencil"></i>
            &nbsp;
            {{ editorTitle }}
        </h4>
    </div>

    <div class="modal-body">

        <form ng-submit="save()">

            <div class="row clearfix">

                <div class="col-md-12 column text-right" style="margin-bottom: 15px;">

                    Вибрати тип запитання:

                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-primary dropdown-toggle">
                            {{ editorForms[model.type].title }}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li ng-repeat="(type, form) in editorForms">
                                <a href ng-click="model.type = type">
                                    <span ng-if="model.type != type">{{ form.title }}</span>
                                    <span ng-if="model.type == type"><b>{{ form.title }}</b></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-12 column">

                    <div class="form-group" ng-class="{ 'has-feedback' : !!model.text }"
                         style="margin-bottom: 0">
                        <label class="control-label" ng-show="false"></label>
                        <input type="text" class="form-control"
                               placeholder="Введіть текст"
                               autofocus autocomplete="off" ng-model="model.text">
                        <span class="form-control-feedback" style="top: 0"
                              ng-show="!!model.text">
                            <i class="fa fa-times" style="cursor: pointer"
                               tooltip="Очистити"
                               ng-click="model.text = ''"></i>
                        </span>
                    </div>

                </div>
            </div>

            <div style="margin-top: 15px;">
                <div ng-if="model.type == 'single-choice'"
                     choice-form model="model" original-model="originalModel">
                </div>
                <div ng-if="model.type == 'multi-choice'"
                     choice-form model="model" original-model="originalModel">
                </div>
                <div ng-if="model.type == 'default'"
                     default-form model="model" original-model="originalModel">
                </div>
                <div ng-if="model.type == 'range'"
                     range-form model="model" original-model="originalModel">
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer ng-scope" style="margin-top: 0">
        <span class="btn btn-warning" ng-click="cancel()">
            <i class="fa fa-share"></i>
            &nbsp;
            Відміна
        </span>
        <span class="btn btn-primary" ng-click="save()"
              ng-disabled="!canSaveQuestion">
            <i class="fa fa-floppy-o"></i>
            &nbsp;
            Зберегти
        </span>
    </div>
</div>